.tableDataComponent {
    .graficContainer {
        width: 320px;
        .description {
            padding-left: 15px;
            padding-right: 15px;
        }
        .CircularChart {
            cursor: crosshair;
        }
    }
}
@include tablet {
    .tableDataComponent {
        .graficContainer {
            margin-left: 40px;
        }
    }
}