.headerContainer {
    display: flex;
    width: 100%;
    .menuButton {
        margin-left: 5px;
        width: 32px;
        background-color: transparent;
        border: none;
        cursor: pointer;
        img {
            width: 100%;
        }
    }
    .headerImageContainer {
        display: flex;
        justify-content: left;
        align-items: center;
        margin-left: 20px;
        img {
            width: 200px;
        }
    }
    .openedMenu {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-color: rgba(19, 19, 19, 0.534);
        cursor: pointer;
        z-index: 1;
        .insideMenu {
            width: 300px;
            height: 100%;
            background-color: $algotive-white-color;
            .headerMenu {
                display: flex;
                align-items: center;
                border-bottom: 2px solid $border-gray-color;
                img {
                    margin: 10px;
                    width: 40px;
                    border-radius: 50%;
                }
            }
            .insideElement {
                height: 50px;
                display: flex;
                align-items: center;
                justify-content: left;
                padding-left: 20px;
                border-bottom: 2px solid $border-gray-color;
                a {
                    text-decoration: none;
                    color: black;
                }
            }
            .insideElement:hover {
                background-color: $border-gray-color;
            }
        }
    }
}