* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.tableDataComponent {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.tableDataComponent .titleTable {
  width: 100%;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 10px;
}
.tableDataComponent .tableRender {
  width: 320px;
  margin-bottom: 80px;
  padding-left: 15px;
  padding-right: 15px;
}
.tableDataComponent .tableRender .dataBlock {
  width: 100%;
  border-top: 2px solid rgba(56, 56, 56, 0.151);
  position: relative;
}
.tableDataComponent .tableRender .dataBlock .tableRow {
  border-bottom: 2px solid rgba(56, 56, 56, 0.151);
}
.tableDataComponent .tableRender .dataBlock .tableRow .headerRow {
  padding-top: 5px;
  padding-bottom: 5px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
.tableDataComponent .tableRender .dataBlock .tableRow .headerRow .botonDespliegue {
  margin-left: 10px;
  margin-right: 10px;
  width: 30px;
  height: 30px;
  background-color: rgb(247, 167, 0);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.tableDataComponent .tableRender .dataBlock .tableRow .headerRow .botonDespliegue img {
  width: 50%;
}
.tableDataComponent .tableRender .dataBlock .tableRow .dataName {
  width: 110px;
  font-weight: bold;
}
.tableDataComponent .tableRender .dataBlock .tableRow .dataInfo {
  width: 150px;
}
.tableDataComponent .tableRender .dataBlock .tableRow .insideRow {
  display: flex;
  align-items: center;
  margin-left: 50px;
  padding-top: 10px;
  padding-bottom: 10px;
}
.tableDataComponent .tableRender .dataBlock .tableRow .copyUrlButton {
  background-color: rgb(2, 49, 103);
  color: white;
  padding: 5px;
  border-radius: 4px;
  cursor: pointer;
  display: flex;
  align-items: center;
  -webkit-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 4px 4px 2px 0px rgba(0, 0, 0, 0.75);
}
.tableDataComponent .tableRender .dataBlock .tableRow .copyUrlButton img {
  margin-left: 5px;
  width: 20px;
}
.tableDataComponent .tableRender .dataBlock .getMoreDataButton {
  margin: 10px;
  padding: 10px;
  background-color: rgb(247, 167, 0);
  color: white;
  position: absolute;
  font-size: 20px;
  right: 0;
  border-radius: 4px;
  cursor: pointer;
}

@media only screen and (min-width: 768px) {
  .tableDataComponent .tableRender {
    margin-right: 40px;
  }
}
.errorView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.errorView img {
  width: 200px;
}

.loadingView {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.loadingView img {
  width: 200px;
}

.tableDataComponent .graficContainer {
  width: 320px;
}
.tableDataComponent .graficContainer .description {
  padding-left: 15px;
  padding-right: 15px;
}
.tableDataComponent .graficContainer .CircularChart {
  cursor: crosshair;
}

@media only screen and (min-width: 768px) {
  .tableDataComponent .graficContainer {
    margin-left: 40px;
  }
}
.headerContainer {
  display: flex;
  width: 100%;
}
.headerContainer .menuButton {
  margin-left: 5px;
  width: 32px;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
.headerContainer .menuButton img {
  width: 100%;
}
.headerContainer .headerImageContainer {
  display: flex;
  justify-content: left;
  align-items: center;
  margin-left: 20px;
}
.headerContainer .headerImageContainer img {
  width: 200px;
}
.headerContainer .openedMenu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(19, 19, 19, 0.534);
  cursor: pointer;
  z-index: 1;
}
.headerContainer .openedMenu .insideMenu {
  width: 300px;
  height: 100%;
  background-color: white;
}
.headerContainer .openedMenu .insideMenu .headerMenu {
  display: flex;
  align-items: center;
  border-bottom: 2px solid rgba(56, 56, 56, 0.151);
}
.headerContainer .openedMenu .insideMenu .headerMenu img {
  margin: 10px;
  width: 40px;
  border-radius: 50%;
}
.headerContainer .openedMenu .insideMenu .insideElement {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: left;
  padding-left: 20px;
  border-bottom: 2px solid rgba(56, 56, 56, 0.151);
}
.headerContainer .openedMenu .insideMenu .insideElement a {
  text-decoration: none;
  color: black;
}
.headerContainer .openedMenu .insideMenu .insideElement:hover {
  background-color: rgba(56, 56, 56, 0.151);
}

.videosContainer {
  width: 100%;
  margin-top: 40px;
}
.videosContainer .videosTitle {
  width: 100%;
  text-align: center;
}
.videosContainer .videoElement {
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
}
.videosContainer .videoElement .videoComponent {
  width: 100%;
}
.videosContainer .videoElement .videoComponent .visibleArea {
  width: 100%;
}
.videosContainer .videoElement .videoComponent .visibleArea .noMoreVideosInStock {
  width: 100%;
  display: flex;
  justify-content: center;
}
.videosContainer .videoElement .videoComponent .visibleArea .noMoreVideosInStock img {
  width: 50px;
}
.videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .iframeVideo {
  width: 90%;
  height: 315px;
  border-radius: 8px;
  -webkit-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
  box-shadow: 2px 2px 2px 0px rgba(0, 0, 0, 0.75);
}
.videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .infoContainer {
  width: 90%;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media only screen and (min-width: 1024px) {
  .videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .iframeVideo {
    width: 80%;
  }
  .videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .infoContainer {
    width: 80%;
  }
}
@media only screen and (min-width: 1440px) {
  .videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .iframeVideo {
    width: 60%;
  }
  .videosContainer .videoElement .videoComponent .visibleArea .videoBlockContainer .infoContainer {
    width: 60%;
  }
}

/*# sourceMappingURL=output.css.map */
